= form.fields_for :applicant, resource.applicant do |af|
  .fname-signup
    = af.label :fname, "First name"
    = af.text_field :fname
  %br/ 
  .lname-signup
    = af.label :lname, "Last name"
    = af.text_field :lname