<head>
  <link href="https://fonts.googleapis.com" rel="preconnect"></link>
  <link href="https://fonts.gstatic.com" rel="preconnect"></link>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Poppins&family=Raleway:wght@500&family=Roboto&display=swap" rel="stylesheet"></link>
</head>


<div class="grid-wrapper">
<% @results.each do |result| %>
  <div class="grid-item">
  <div>
  <% if result.agency.user.avatar.attached? %>
  <%= image_tag result.agency.user.avatar.variant(resize_to_limit: [50, 50]) %>
  <% else %>
  <%= image_tag("no_avatar.png", size:"50") %>
  <% end %>
  </div>
  <div>
  <%= result.title %> <br/>
  <%= result.location %>
  </div>
  <div> </br>
  <%= link_to 'View' %>
  </div>
  </div>
  <% end %>
</div>