<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&family=Poppins&family=Raleway:wght@300;700&family=Roboto&display=swap" rel="stylesheet">
</head>


<div class="job-grid-wrapper">
<% @results.each do |result| %>
  <div class="job-grid-item">
    <div id='job-avatar'>
      <% if result.agency.user.avatar.attached? %>
      <%= image_tag result.agency.user.avatar.variant(resize_to_limit: [50, 50]) %>
      <% else %>
      <%= image_tag("no_avatar.png", size:"50") %>
      <% end %>
    </div>
    <div id='job-title'>
      <%= result.title.upcase %> <br/>
    </div>
    <div id='job-location'>
      <% if result.location.present? %>
      <%= result.location %>
      <% else %>
      Undisclosed
      <% end %>
    </div>
    <div id='job-action'> </br>
      <%= link_to 'View' %>
    </div>
  </div>
  <% end %>
</div>