= form.fields_for :agency, resource.agency do |af|
  .agency-name
    = af.label :name
    = af.text_field :name
  %br/ 
  .agency-address
    = af.label :kind, "KIND"
    = af.select :kind, ["Private", "Public"]
  %br/ 
  .agency-kind
    = af.label :address
    = af.text_field :address
  %br/ 
  .agency-kind
    = af.label :contact_no
    = af.telephone_field :contact_no 