<div class="main-container-login">
  <div class="hero">
      <p id="slogan">Welcome Back, Kapatid! </p>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="title">
    <p>Log in with your email and password</p>
  </div>
  <div class="username-login">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  
  <div class="password-login">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", :class => 'login-btn' %>
    
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</div>
