<!DOCTYPE html>
<html>
  <head>
    <title>Abrodie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300;400;600&family=Montserrat:ital,wght@0,600;1,700&family=Poppins&family=Raleway:wght@800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('icons8-around-the-globe-100 (2).png') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .message{
        text-align: left;
        display:flex;
        flex-flow: row;
        margin: 5px 50px 5px 0;
      }
      .message .time-msg-div{
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
      }
      .message .time-msg-div .msg-div{
        padding: 10px 15px;
        min-width: min-content;
        background: #8CEEC187;
        border-radius: 0 20px 20px 20px;
      }
      .message[data-user-id="<%= current_user&.id %>"]{
        text-align: right;
        flex-flow: row-reverse;
        margin: 5px 0 5px 50px;
      }
      .message[data-user-id="<%= current_user&.id %>"] 
      .img-div{
        display:none;
      }
      .message[data-user-id="<%= current_user&.id %>"] .time-msg-div{
        justify-content: flex-end;
        align-items: flex-end;
      }
      .message[data-user-id="<%= current_user&.id %>"] .time-msg-div .msg-div{
        border-radius: 20px 20px 0 20px;
        background: #0000001A;
      }
    </style>
  </head>
  <body>
    <% if user_signed_in? %>
      <% classname = 'main-wrapper' %>
    <% else %>
      <% classname = 'body' %>
    <% end %>
      <div class= <%= classname %>>
        <% if user_signed_in? %>
          <%= render 'pages/sidenav'%>
          <%= render 'pages/topnav', class: 'main-topnav'%>

        <%else%>
          <%= render 'pages/navbar'%>
        <% end %>
        <div class="main-content">
          <% flash.each do |message_type, message| %>
            <%= javascript_tag "M.toast({html: '#{message}', classes: '#{message_type}'})" %>
          <% end %> 
          <%# <p class="notice"><%= notice %></p>
          <%# <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
        <%= render "pages/footer" %>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
      </div>
    </body>
</html>
